body{
    background-color:#f4f6f9;
}

.card{
    border-radius:15px;
}

.navbar-brand{
    font-weight:bold;
}

.usuario-logado{
    color:white;
    font-weight:bold;
    margin-right:15px;
}